body {
    font-family: Arial, sans-serif;
    /* background: #eef2f7; */
    background-image: url('https://plus.unsplash.com/premium_photo-1661907977530-eb64ddbfb88a?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWFycmlvdHQlMjBob3RlbHxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.container {
    width: 90%;
    max-width: 750px;
    background: #ffffff;
    padding: 45px;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    animation: fadeIn 0.6s ease;
    
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    color: #1e3a8a;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #333;
}

input, select {
    width: 95%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
    background: #f8fafc;
    margin-right: 20px;
}

input:focus, select:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 6px rgba(37,99,235,0.4);
}

.primary-btn {
    width: 100%;
    padding: 14px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn:hover {
    background: #1d4ed8;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.room-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px;
}

@media (max-width: 600px) {
    .room-grid {
        grid-template-columns: 1fr;
    }
}

.room-card {
    background: #f8fafc;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
}

.room-card:hover {
    transform: translateY(-5px);
}

.room-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.room-card h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #1e40af;
}

.room-card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    color: #555;
}

.room-card li {
    margin: 4px 0;
}
